html {
  font-family: NotoSansRegular;
}
@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 100;
  src: url('assets/fonts/notosanskr-medium-webfont.woff') format('woff'),
    url('assets//fonts/notosansKR-Medium.eot');
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/notosanskr-regular-webfont.woff') format('woff'),
    url('assets/fonts/notosansKR-Regular.eot') format('truetype');
}
