.register {
  display: flex;
  flex-direction: column;
  align-content: flex-start;

  /*밑 이미지 설정(로고)*/
  background-image: url('../images/logo_transparent.png');
  background-repeat: no-repeat;
  background-size: 25vw; /*300px*/
  background-position: center;
}
/*회원가입 텍스트 영역*/
.upper {
  position: relative;
  padding-top: 4.5vh;
  padding-left: 2vw;

  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
}
/*뒤로가기 아이콘 영역*/
.goBackIcon {
  position: relative;
  color: #c00000;
  margin-right: 3vw;
  margin-top: -4vh;
  cursor: pointer;
}
.goBackIcon:hover {
  color: #8f0202;
  transition: ease-in 0.1s;
  transform: scale(1.05);
}
/*회원가입 텍스트 영역*/
.upper p {
  color: #c00000;
  font-size: 1.5em;
}
/*관리자 확인 체크박스 영역*/
.checkbox_admin {
  font-size: 0.6em;
  margin-left: 1vw;
}
.checkbox_admin input {
  vertical-align: -2px;
  margin-right: 3px;
}
/*Form 영역*/
.bottom {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 0.8em; /*12px*/
  font-weight: bolder;
}
/*각 줄 스타일 넣기*/
.column {
  display: flex;
  flex-direction: row;
  margin-bottom: 2%;
}
.column div {
  display: block;
  margin: auto 2%;
}

/*입력 폼 크기와 글씨 지정*/
.form-control {
  width: 21vw; /*250px*/
  height: 5vh; /*30px*/
  font-size: 0.9em; /*14px*/
}
/*버튼 스타일링*/
.registerButton {
  width: 21vw; /*250px*/
  height: 5vh; /*30px*/
  color: #ffffff;
  background: #c00000;
  border: none;
  border-radius: 5px;
  font-size: 0.9em; /*14px*/
  font-weight: bolder;
}
.registerButton:hover {
  transition: ease 0.2s;
  transform: scale(1.02);
  color: white;
  border: none;
  box-shadow: 0 0 40px 40px #8f0202 inset;
}
