.navBox {
  position: relative;
  /*width: 70px;*/
  width: max-content;
  height: 100vh;
  box-shadow: 1px 1px 1px 1px white;
  border-radius: 10px;
}

.logoBar {
  position: relative;
  height: 10vh;
  border-radius: 2px;

  background: black;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.appBar {
  position: relative;
  height: 60vh;
  background-color: #858585;
}

.dateBar {
  position: relative;
  display: block;
  padding-top: 5vh;
  height: 20vh;
  bottom: 0;
  background-color: #820101;
  border-radius: 2px;
}
.logOutBar {
  position: relative;
  background-color: #858585;
  height: 10vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.logOutTextStyle {
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
}
.logOutTextStyle:hover {
  color: white;
}
