.navBox {
  position: relative;
  width: max-content;
  height: 100vh;

  box-shadow: 1px 1px 1px 1px white;
  border-radius: 10px;
}

.logoBar {
  position: relative;

  height: 10vh;

  border-radius: 2px;

  background: black;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.appBar {
  position: relative;

  height: 60vh;

  background-color: #cfcfcf;
}

.dateBar {
  position: relative;

  height: 20vh;

  padding-top: 5vh;
  bottom: 0;

  display: block;

  border-radius: 2px;
  background-color: #a70000;
}

.logOutBar {
  position: relative;

  height: 10vh;

  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: end;

  background-color: #cfcfcf;
}

.logOutTextStyle {
  font-weight: bold;
  font-size: 0.8em;

  color: #990000;
  text-decoration: underline #990000;

  cursor: pointer;
}
.logOutTextStyle:hover {
  transition: ease-in 0.1s;
  transform: scale(1.07);
}
