.answerWaitingList {
  padding-top: 1%;
  padding-bottom: 1%;
  height: 80vh;

  display: flex;
  flex-direction: row;

  border: 1px rgb(212, 212, 212);
  border-style: none solid solid solid;
  border-radius: 2px;
}

.answerWaitingListLeft {
  width: 50%;
  height: 100%;
}

.answerWaitingListLeft ul {
  display: flex;
}

.answerWaitingListLeft li {
  list-style-type: none;
  width: 100%;
  padding: 1.5%;
  margin: -6px;

  border-top: 0.1px solid rgba(0, 0, 0, 0.308);
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.308);

  background-color: rgba(209, 209, 209, 0.082);
}

/* rgba(209, 209, 209, 0.185) */

.answerWaitingListLeft li:hover {
  border: 0.8px solid transparent;
  background: rgba(107, 107, 107, 0.308);

  cursor: pointer;
}

.waitinglistStyle {
  display: flex;
  flex-direction: row;
}

.answerWaitingListRight {
  width: 50%;
  height: 100%;
}

.messageDetailBox {
  width: 95%;
  height: fit-content;

  padding: 2%;

  border-radius: 3px;
  background: rgba(107, 107, 107, 0.308);
}

.detailList {
  border-radius: 3px;
}

.answerInput {
  width: 100%;
  height: 25vh;

  background-color: rgb(212, 212, 212);
  border: none;
  border-radius: 3px;
}

.sendBtn {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid #c00000;

  background: transparent;
}
.sendBtn:hover {
  background: #c00000d0;
  color: white;
}
