.answerWaitingList {
  padding-top: 1%;
  padding-bottom: 1%;
  height: 80vh;

  display: flex;
  flex-direction: row;

  border: 1px rgb(212, 212, 212);
  border-style: none solid solid solid;
  border-radius: 2px;
}

.answerWaitingListLeft {
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
}
.answerWaitingListLeftTop {
  list-style-type: none;
  width: 100%;

  vertical-align: middle;

  margin-bottom: -2%;
}
.deleteIcon {
  margin-left: 1%;
  margin-top: -0.5%;

  cursor: pointer;

  color: gray;
}
.deleteIcon:hover {
  color: #821001;
}
.searchQuestionForm {
  width: 23vw;
  height: 4.5vh;
  margin-left: 30%;

  font-size: 0.8em;

  background-color: rgba(128, 128, 128, 0.096);
  border: 0.5px solid gray;
  border-radius: 2px;
}
.searchQuestionForm::placeholder {
  font-style: italic;
}
.answerWaitingListLeftBottom {
  margin-top: 1.5%;
  overflow: auto;
  height: 93%;
}
.answerWaitingListLeftBottom ul {
  display: flex;
}
.answerWaitingListLeftBottom li {
  list-style-type: none;
  width: 100%;
  padding: 1.5%;
  margin: -6px;
}

.normalLi {
  background-color: rgba(209, 209, 209, 0.082);
  border-top: 0.1px solid rgba(0, 0, 0, 0.308);
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.308);
}
.clickedLi {
  background-color: rgba(107, 107, 107, 0.308);
  border-top: 0.1px solid transparent;
  border-bottom: 0.1px solid transparent;
}
.answerWaitingListLeftBottom li:hover {
  border: 0.8px solid transparent;
  background: rgba(107, 107, 107, 0.308);

  cursor: pointer;
}

.waitinglistStyle {
  display: flex;
  flex-direction: row;
}

.answerWaitingListRight {
  width: 50%;
  height: 100%;
}

.messageDetailBox {
  width: 95%;
  height: 100%;

  padding: 2%;

  border-radius: 3px;
  background: rgba(107, 107, 107, 0.308);

  overflow: auto;
}
.noMessageBox {
  width: 50%;

  margin-top: 26vh;
  margin-left: 12vw;
  text-align: center;

  border: 0.7px solid rgba(128, 128, 128, 0.267);
}

.detailList {
  border-radius: 3px;
  height: 100%;
  background-color: white;
}

.answerInput {
  width: 100%;
  height: 25vh;

  background-color: rgb(212, 212, 212);
  border: none;
  border-radius: 3px;
}

.sendBtn {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid #c00000;

  background: transparent;
}
.sendBtn:hover {
  background: #c00000d0;
  color: white;
}
