/*전체 메세지 박스*/
.messageBox {
  width: 90vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  font-size: 16px;
}

/*"알림" 텍스트 설정*/
.messageUpperBox {
  margin-top: 1%;
  height: 7vh;

  font-size: 2em;
  font-weight: bold;
}
.messageUpperBoxChild p {
  text-shadow: 1px 1px rgba(165, 165, 165, 0.322);
}
/*콘텐츠 설정*/
.messageBottomBox {
  width: 87vw;
  height: fit-content;
}
