.userDetailBox {
  width: 90vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

/*"사용자 관리" 텍스트 설정*/
.userDetailUpperBox {
  margin-top: 1%;
  height: 7vh;

  font-size: 2em;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
