/* tr {
  font-size: smaller;
}
td {
  font-size: small;
} */
.usePaginationBox {
  display: flex;
  justify-content: center;
}
.page-item {
  width: 30px;

  margin-left: 5%;
}
.page-link {
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.151);
  border-radius: 0;

  text-decoration: none;
  animation: none;
}
