.usePaginationBox {
  width: 100%;
  display: flex;
  justify-content: center;
}
.pagination {
  max-width: 220px;
  text-align: center;
}
.pagination-button-left {
  width: 35px;
  height: 37px;

  margin-right: 4px;
  border: 1px solid rgba(173, 173, 173, 0.521);
  border-radius: 2px;

  background-color: white;
}
.pagination-button-left:hover {
  background-color: rgba(196, 196, 196, 0.11);
  color: rgb(151, 32, 32);
}

.page-link {
  width: 35px;
  height: 37px;

  color: black;

  text-align: center;

  border: 1px solid rgba(0, 0, 0, 0.151);
  border-radius: 0;

  text-decoration: none;
  animation: none;
}
.userTable {
  width: 98%;
  overflow: auto;
}
.pagination-button-right {
  width: 35px;
  height: 37px;

  margin-left: 4px;
  border: 1px solid rgba(173, 173, 173, 0.521);
  border-radius: 2px;

  background-color: white;
}
.pagination-button-right:hover {
  background-color: rgba(196, 196, 196, 0.11);
  color: rgb(151, 32, 32);
}
