.seatManagePage {
  font-family: NotoSansRegular;

  display: flex;
  flex-direction: row;

  background-color: rgb(240, 240, 240);
}

.seatManagePageRight {
  margin-left: 2%;
  margin-right: 2%;
  width: 100%;
}
