.seatManageBox {
  width: 90vw;
  height: 100%;

  display: flex;
  flex-direction: column;
}

/*"좌석 관리" 텍스트 설정*/
.seatManageUpperBox {
  font-weight: bold;

  height: 10vh;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.seatManageUpperFirstChild {
  font-size: 2.2em;
}

.seatManageUpperSecondChild {
  margin-left: 2%;
  font-size: 1em;
}
.seatManageUpperLastChild {
  margin-left: 0.5%;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}
.seatManageUpperLastChild button {
  width: 30px;
  height: 30px;

  color: #860008;

  font-size: 0.7em;
  font-weight: bold;

  border: 0.8px solid #636363;
  border-radius: 15px;

  background: transparent;
}
.seatManageUpperLastChild button:hover {
  border: none;
  background-color: #860000;
  color: white;
}
.selectFloor {
  width: 14vw;
  font-weight: 600;
}
.seatManageBottomBox {
  width: 99%;
  height: 87%;
  background: #c4c4c4;
}

.floorInputForm::placeholder {
  font-style: italic;
  font-size: smaller;
}
.floorModal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.createFloorModal {
  width: 50%;
}
.deleteFloorModal {
  width: 50%;
}
