.showTable {
  width: 100%;
  border: 1px solid gray;
  text-align: center;
}
.showTable tr {
  border: 1px solid gray;
}
.showTable th {
  width: 50%;
  border: 1px solid gray;
}
.showTable td {
  width: 50%;
  padding-left: 5%;
}
