.roomCheckPage {
  font-family: NotoSansRegular;

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
}
/* .m_roomCheckPage {
  display: flex;
  flex-direction: column;
  width: 100%;
} */
.roomCheckForm {
  width: 100%;
  height: 100%;
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
}
.m_roomCheckForm {
  width: 100%;
  background-color: rgb(240, 240, 240);
}
.checkHeader {
  position: relative;
  height: 10%;
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.m_checkHeader {
  display: flex;
  position: relative;
  height: 10%;
  align-items: center;
}

.roomCheck_titleTextStyle {
  position: relative;

  margin-left: 2%;
  margin-right: 4%;

  font-weight: bold;
  font-size: 1.8em;
}
.m_roomCheck_titleTextStyle {
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 27%;
}
.roomInfoTable {
  background-color: white;
  border-radius: 10px;
  width: 96%;
  margin-left: 2%;
  margin-top: 2%;
  box-shadow: 1px 1px 5px 0.1px rgb(202, 202, 202);
}
.m_roomInfoTable {
  background-color: white;
  border-radius: 10px;
  width: 96%;
  margin-left: 2%;
  margin-top: 3%;
  box-shadow: 1px 1px 5px 0.1px rgb(202, 202, 202);
}
