.roomCheckPage {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
}
/* .m_roomCheckPage {
  display: flex;
  flex-direction: column;
  width: 100%;
} */
.roomCheckForm {
  width: 95vw;
  display: flex;
  flex-direction: column;
}
.m_roomCheckForm {
  width: 100%;
}
.checkHeader {
  position: relative;
  height: 10%;
  background: #c4c4c45b;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.roomCheck_titleTextStyle {
  position: relative;
  font-weight: bold;
  font-size: 1.8em;
  margin-left: 2%;
  margin-right: 4%;
}
.m_roomCheck_titleTextStyle {
  font-size: 1.4em;
  margin-left: 2%;
  font-weight: bold;
}
