.roomReservationButton {
  background-color: #820101;
  color: ivory;
  border-radius: 10px;
  border: 0;
  outline: 0;
  height: 4vh;
}
.roomReservationButton:hover {
  background: #8f0202;
  transition: ease 0.2s;
  transform: scale(1.01);
}
.infoTable {
  position: relative;
  text-align: center;
  font-size: 1.2em;
}
