.roomCheckPage {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
}
.roomCheckForm {
  width: 95vw;
  display: flex;
  flex-direction: column;
}
.checkHeader {
  background: #c4c4c4;

  position: relative;
  height: 10vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.roomCheck_titleTextStyle {
  position: absolute;
  left: 2%;
  color: black;
  font-weight: bold;
  font-size: 2em;
}
