.roomReservationFormRight {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  align-items: center;
}
.selectedTime {
  margin-bottom: 2vh;
}
.addAndButtonForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.mAddAndButtonForm {
  display: flex;
  flex-direction: column;
}
.addParticipantForm {
  display: flex;
  flex-direction: column;
}
.mParticipantForm {
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
  margin-top: 2vh;
  width: 95vw;
  height: 50vh;
}
/*회의 참석자를 입력하세요*/
.rrp_centerTextStyle {
  position: relative;
  font-size: 1.1em;
  font-weight: bold;
}
.mrrp_centerTextStyle {
  font-size: 0.9em;
  font-weight: bold;
}
.mSearchForm {
}
.selectedMembersList {
}
.mSelectedMembersList {
  font-size: 0.7em;
  height: 50px;
  overflow: scroll;
}
.divButton {
  margin-left: 38%;
}
.roomReservationBtn {
  width: fit-content;
  height: 5vh;
  margin-top: 2vh;
  /*
  margin-left: 10vw;
  padding-left: 2vw;
  padding-right: 2vw; */
  font-size: 1.2em;
  background-color: #820101;
  color: white;
  border-radius: 10px;
  outline: 0;
  border: 0;
}
.roomReservationBtn:hover {
  background: #8f0202;
  transition: ease 0.2s;
  transform: scale(1.02);
}
.mRoomReservationBtn {
  width: fit-content;
  height: 5vh;
  font-size: 1.2em;
  background-color: #820101;
  color: white;
  border-radius: 10px;
  outline: 0;
  border: 0;
}
/*참석자 리스트*/
.participantForm {
  height: 53vh;
  overflow: auto;
}
