.roomReservationFormRight {
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  align-items: flex-start;
}
.selectedTime {
  margin-bottom: 2vh;
  display: flex;
  align-self: flex-start;
  align-items: baseline;
}
.m_selectedTime {
  display: flex;
  align-self: flex-start;
  align-items: baseline;
  margin-left: 2%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.dropDownToggle {
  background-color: rgb(230, 230, 230);
  border: none;
  color: black;
}
.m_dropDownToggle {
  background-color: rgb(230, 230, 230);
  border: none;
  color: black;
  font-size: 0.9em;
}
.meetingTopicForm {
  width: 100%;
  margin-bottom: 2vh;
}
.m_meetingTopicForm {
  width: 100%;
  margin-bottom: 1%;
}
.topicInput {
  border: none;
  background-color: white;
  height: 4vh;
  border-radius: 5px;
  width: 100%;
}
.m_topicInput {
  width: 340px;
  border: none;
  background-color: white;
  height: 40px;
  border-radius: 5px;
  font-size: 0.8em;
  margin-left: 2%;
}
.addAndButtonForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.mAddAndButtonForm {
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
  height: auto;
  width: 99vw;
}
.addParticipantForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.mParticipantForm {
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  margin-top: 2%;
  width: 95vw;
  max-height: 50vh;
}
/*회의 참석자를 입력하세요*/
.rrp_centerTextStyle {
  position: relative;
  font-size: 1em;
  font-weight: bold;
}
.mrrp_centerTextStyle {
  font-size: 0.9em;
  font-weight: bold;
}
/*참석자 리스트*/
.participantForm {
  max-height: 45vh;
  overflow: auto;
}

.mSelectedMembersList {
  font-size: 0.7em;
  height: 50px;
  overflow: scroll;
}
.divButton {
  margin-left: 38%;
}
.roomReservationBtn {
  width: fit-content;
  height: 5vh;
  margin-top: 2vh;

  font-size: 1.2em;
  background-color: firebrick;
  color: white;
  border-radius: 10px;
  outline: 0;
  border: 0;
}
.roomReservationBtn:hover {
  background: #8f0202;
  transition: ease 0.2s;
  transform: scale(1.02);
}
.mRoomReservationBtn {
  width: fit-content;
  height: 5vh;
  font-size: 1.2em;
  background-color: firebrick;
  margin-bottom: 10%;
  color: white;
  border-radius: 10px;
  outline: 0;
  border: 0;
}
