.customPicker {
  background-color: white;
  border: 0;
  font-size: 1.2em;
  font-weight: bold;
  width: fit-content;
  height: 5vh;
  border-radius: 10px;
  padding-left: 1vw;
  padding-right: 1vw;
}
.m_customPicker {
  background-color: white;
  border: 0;
  font-size: 0.9em;
  font-weight: bold;
  width: 130px;
  height: 30px;
  border-radius: 10px;
  margin-left: 2%;
}
.roomDatePicker {
  display: flex;
  margin-left: 2%;
}

.timeTableAndAddParticipant {
  display: flex;
  flex: 1;
  margin-left: 2%;
  margin-right: 5%;
}
.m_timeTableAndAddParticipant {
  display: flex;
  flex-direction: column;
}
