.roomReservationPage {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
}
.reservationForm {
  width: 95vw;
  display: flex;
  flex-direction: column;
}

/*회의실 예약 페이지 헤더*/
.reservationHeader {
  background: #c4c4c4;
  position: relative;
  height: 10vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*회의실 예약*/
.rrp_titleTextStyle {
  position: absolute;

  font-weight: bold;
  color: black;
  font-size: 2em;
  left: 2%;
}
/*회의실 예약 테이블*/
.srTable {
  position: relative;

  text-align: start;
}
/*회의 참석자를 입력하세요*/
.rrp_centerTextStyle {
  position: relative;
  font-size: 20px;
  font-weight: bold;
}
