.inquirePage {
  font-family: NotoSansRegular;

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
  background-color: rgb(240, 240, 240);
}
.inquireForm_main {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.m_inquireForm_main {
  width: 100%;
  background-color: rgb(240, 240, 240);
}

.u3_myPageContent {
  height: 100%;
  background-color: rgb(240, 240, 240);
}
