.inquirePage {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
}
.inquireForm_main {
  width: 95vw;
  display: flex;
  flex-direction: column;
}
.inquireHeader {
  position: relative;
  height: 10vh;
  left: 0%;
  background: #c4c4c4;
  display: flex;
  flex-direction: column;
}
.inquire_titleTextStyle {
  position: absolute;

  left: 3%;
  top: 20%;

  font-weight: bold;
  font-size: 2em;
}
