/*문의가 존재하지 않을 경우*/
.noInquiryList {
  width: 90%;
  height: 85%;

  margin-left: 5%;
  padding-top: 12%;
  text-align: center;

  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-radius: 2px;
}
.alertStyle {
  color: #c00000;
  margin-bottom: 0.5%;
}
.alertTextStyle {
  font-weight: bold;
  font-size: 1em;

  color: rgb(77, 77, 77);
}

/*문의가 존재할 경우*/
.inquiryListTotal {
  width: 100%;
  height: 90vh;

  padding-top: 1%;
}
.inquiryListUpper {
  display: flex;
  flex-direction: row;
}
.inquiryListUpper button {
  width: fit-content;
  height: 5%;

  margin-left: 1%;
  margin-top: 0.3%;
}
.myListText {
  margin-left: 3%;
  margin-right: 0.6%;
  font-size: 1.5em;
  font-weight: bold;
}
.newInquiryIcon {
  margin-left: 3%;
  cursor: pointer;
}
.newInquiryIcon:hover {
  transition: 0.1s ease-in;
  transform: scale(1.05);

  color: #c00000;
}
.accordion {
  width: 90%;
  height: 73vh;
  margin-left: 5%;

  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-radius: 3px;

  overflow: auto;
}
/*제목 폼에서 화살표 버튼 제외한 부분*/
.inquiryTitleMain {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
}

/*인덱스*/
.index {
  width: 3%;
}
/*답변 여부*/
.isReply {
  color: rgb(40, 40, 40);
  width: 10%;
}
/*제목*/
.inquiryTitleStyle {
  width: 75%;
  font-size: 1em;
}
/*문의 내용*/
.inquiryContent {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  background-color: #c4c4c415;
}
.inquiryMsg {
  width: 95%;
  display: flex;
  flex-direction: row;
}
/*삭제*/
.deleteInquiry {
  width: 3%;
  cursor: pointer;
  color: #d80303;
}
/*제목 폼에서 윗 부분(제목, 날짜)*/
.inquiryTitleUpper {
  display: flex;
}
.inquiryAnswer {
  background: #c4c4c415;
  border-top: 1px dashed rgba(128, 128, 128, 0.404);
}
