.inquiryForm {
  display: flex;
  flex-direction: column;

  flex: 1;
  justify-content: center;
  align-items: center;
}

/*제목 input*/
.inquiryFormTitleStyle {
  position: relative;

  width: 30vw;
  height: 6vh;

  border: 1px solid #c4c4c4b0;
  border-radius: 2px;
}
.inquiryFormTitleStyle::placeholder {
  font-size: 0.9em;
}
.m_inquiryFormTitleStyle {
  position: relative;
  width: 85%;
  height: 7vh;

  border: 1px solid #c4c4c4b0;
  border-radius: 2px;
}
/*문의 textarea*/
.inquiryFormContentStyle {
  position: relative;

  width: 30vw;
  height: 45vh;

  border: 1px solid #c4c4c4b0;
  border-radius: 2px;

  background-color: #c4c4c43d;
}
.inquiryFormContentStyle::placeholder {
  font-size: 0.9em;
}
.m_inquiryFormContentStyle {
  position: relative;

  width: 85%;
  height: 55vh;

  border: 1px solid #c4c4c4b0;
  border-radius: 2px;

  background-color: #c4c4c43d;
}
/*문의하기 버튼*/
.inquiryFormButton {
  height: 4vh;

  border: none;
  border-radius: 2px;

  color: white;
  background-color: #b80000;
}
.inquiryFormButton:hover {
  transition: ease-in 0.1s;
  transform: scale(1.02);

  background-color: #820101;
}
