/*.inquiryForm {
  background-color: rgba(133, 133, 133, 0.92);
  display: flex;
  flex-direction: column;
  width: 80vw;
}
.inquiryFormTitleStyle {
  width: 60vw;
  margin-left: 10%;
  margin-top: 3%;
  border-radius: 5px;
}
.inquiryFormContentStyle {
  width: 60vw;
  height: 40vh;
  margin-left: 10%;
  margin-bottom: 2%;
  border-radius: 10px;
}
.inquiryFormButton {
  height: 6vh;
  width: 60vw;
  margin-left: 10%;
  margin-bottom: 5%;
  font-size: 1.5em;
  color: white;
  font-weight: bold;
  background-color: #820101;
  border-radius: 30px;
}*/

.inquiryForm {
  /* background-color: rgba(133, 133, 133, 0.92); */
  display: flex;
  flex-direction: column;
  /*width: 75vw;*/
  width: inherit;
  height: 80vh;
  flex: 1;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
/*제목 input*/
.inquiryFormTitleStyle {
  width: 65vw;
  height: 6vh;
  font-size: 1.2em;
  border-radius: 5px;
  position: relative;
}
/*문의 textarea*/
.inquiryFormContentStyle {
  width: 65vw;
  height: 50vh;
  border-radius: 10px;
  font-size: 1.1em;
  position: relative;
}
/*문의하기 버튼*/
.inquiryFormButton {
  height: 6vh;
  width: 65vw;
  font-size: 1.5em;
  color: white;
  font-weight: bold;
  background-color: #820101;
  border-radius: 30px;
  margin-top: 2%;
}
