/*문의가 존재할 경우*/
.inquiryListTotal {
  width: 100%;
  height: 100%;
  /* padding-top: 2%; */
}
.m_inquiryListTotal {
  width: 100%;
  height: 100%;
}
.inquiryButton {
  width: 7vw;
  height: 4vh;
  border-radius: 4px;
  border: none;
  background-color: rgb(94, 94, 94);
  color: white;
  margin-left: 80vw;
  margin-top: 3%;
}
.inquiryButton:hover {
  transition: 0.1s ease-in;
  transform: scale(1.05);
}
.inquiryListUpper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 7vh;
  margin-top: 1vh;
}
.m_inquiryHeader {
  display: flex;
  height: 10vh;
  align-items: center;
}
.inquiryListUpper button {
  width: fit-content;
  height: 5%;

  margin-left: 1%;
  margin-top: 0.3%;
}
.myListText {
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 1%;
}
.m_myListText {
  position: relative;
  font-weight: bold;
  font-size: 1.2em;
  margin-left: 30%;
  margin-right: 2%;
}
.newInquiryIcon {
  margin-left: 3%;

  cursor: pointer;
}
.newInquiryIcon:hover {
  transition: 0.1s ease-in;
  transform: scale(1.05);

  color: #c00000;
}
/*문의가 존재하지 않을 경우*/
.noInquiryList {
  width: fit-content;
  height: fit-content;
  margin-top: 15%;
  margin-left: 37%;
  text-align: center;
}
.m_noInquiryList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 45%;
}
.alertStyle {
  color: #c00000;
  margin-bottom: 0.5%;
}
.alertTextStyle {
  font-weight: bold;
  font-size: 1em;

  margin-top: 2%;

  color: rgb(77, 77, 77);
  text-align: center;

  text-shadow: 1px 1px rgb(231, 231, 231);
}

.u3_accordion {
  width: 90%;
  /* height: 80vh; */
  margin-left: 5%;
  margin-top: 1%;
  /* border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-radius: 3px; */
  box-shadow: 1px 1px 2px 0.1px rgb(202, 202, 202);
  /* border: 1px solid rgb(182, 182, 182); */
  /* border: none; */
  border-radius: 5px;
  overflow: auto;
  max-height: 80vh;
}
.m_u3_accordion {
  width: 90%;
  margin-left: 5%;
  margin-top: 2%;
  box-shadow: 1px 1px 2px 0.1px rgb(202, 202, 202);
  border-radius: 5px;
  overflow: auto;
  max-height: 85vh;
}
/*제목 폼에서 화살표 버튼 제외한 부분*/
.inquiryTitleMain {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
}

/*인덱스*/
.index {
}
/*답변 여부*/
.isReply {
  color: rgb(40, 40, 40);
  width: 10%;
}
/*제목*/
.inquiryTitleStyle {
  width: 75%;
  font-size: 1em;
}
.m_inquiryTitleStyle {
  width: 65%;
}
.m_inquiryDateStyle {
  font-size: 0.8em;
}
/*문의 내용*/
.inquiryContent {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  /* background-color: #c4c4c415; */
}
.inquiryMsg {
  width: 95%;
  display: flex;
  flex-direction: column;
}
.inquiryAndDeleteButton {
  display: flex;
  justify-content: space-between;
}
.inquiryBodyTitle {
  font-weight: bold;
}
.m_inquiryBodyTitle {
  font-size: 0.9em;
  font-weight: bold;
}
.inquiryBodyMessage {
  width: 90%;
  overflow-wrap: anywhere;
}
.m_inquiryBodyMessage {
  font-size: 0.9em;
  overflow-wrap: anywhere;
}

.m_deleteInquiry {
  font-size: 0.8em;
  color: firebrick;
}
/*제목 폼에서 윗 부분(제목, 날짜)*/
.inquiryTitleUpper {
  display: flex;
}
.inquiryAnswer {
  background: #c4c4c415;
  border-top: 1px dashed rgba(128, 128, 128, 0.404);
}
.answerDateTextStyle {
  margin-left: 9vw;
}
.m_answerDateTextStyle {
  font-size: 0.8em;
}
.deleteInquiry {
  cursor: pointer;
  color: firebrick;
}
.deleteInquiry:hover {
  color: gray;
}
