.inquirePage {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
}
.inquireForm_main {
  width: 95vw;
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
}
.m_inquireForm_main {
  width: 100%;
  background-color: rgb(240, 240, 240);
}
.inquireHeader {
  position: relative;
  height: 10%;
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.m_inquireHeader {
  display: flex;
  position: relative;
  height: 10%;
  align-items: center;
}
.inquire_titleTextStyle {
  position: relative;
  font-weight: bold;
  font-size: 1.8em;
  margin-left: 2%;
  margin-right: 4%;
}
.m_inquire_titleTextStyle {
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 27%;
  display: flex;
  width: 100%;
}
.myRLMenuTextStyle:hover {
  color: #c00000;
}
