.tabMenuForm {
  position: relative;
  display: flex;
  flex-direction: column;
  left: 5%;
}
.tabs {
  display: flex;
  flex-direction: row;
}
.firstTab {
  width: 9vw;
  height: 6vh;

  font-size: 1.5em;
  font-weight: bold;
  background: #eeeeee;

  outline: 0;
  border: 0;
}
.secondTab {
  width: 9vw;
  height: 6vh;
  font-size: 1.5em;
  font-weight: bold;
  background: rgba(133, 133, 133, 0.92);
  outline: 0;
  border: 0;
}
