.myInfoForm {
  margin: 1%;
}

.myInfoFormTitleTextStyle {
  font-size: 2em;
  color: #646464;
  font-weight: bold;
  text-align: center;
}
.myInfoDetailForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6vh;
}
.setPadding {
  padding-left: 4vw;
}
.infoBottom {
  display: flex;
  flex-direction: column;
}

.editFinishButton {
  width: 7vw;
  height: 5vh; /*30px*/
  margin-left: 2vw;
  border-radius: 5px;
  font-size: 0.8em; /*12px*/
  font-weight: bold;
  background: #c00000;
  color: white;
  border: none;
  margin-top: 5vh;
}
.editFinishButton:hover {
  transition: ease 0.2s;
  transform: scale(1.02);
  background: #8f0202;
}
.m_editFinishButton {
  width: 20vw;
  height: 6vh; /*30px*/
  margin-left: 2vw;
  border-radius: 5px;
  font-size: 0.8em; /*12px*/
  font-weight: bold;
  background: #c00000;
  color: white;
  border: none;
  margin-top: 5vh;
}
.dropUser {
  font-size: 1em;
  cursor: pointer;
  margin-left: 3.4vw;
  margin-top: 6vh;
  font-weight: bold;
  text-decoration: underline;
}
.dropUser:hover {
  transition: ease 0.1s;
  transform: scale(1.01);
}
.m_editInput {
  width: 40vw;
  height: 5vh; /*30px*/
  font-size: 0.9em; /*14px*/
  margin-bottom: 1vh;
  font-weight: bolder;
  border-radius: 5px;
}
