.myInfoForm {
  margin: 1%;
}

.myInfoFormTitleTextStyle {
  font-size: 1.5em;
  color: #820101;
  font-weight: bold;
  text-align: center;
}
.myInfoDetailForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6vh;
}
.m_myInfoDetailForm {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  align-items: center;
}

.infoBottom {
  display: flex;
  flex-direction: column;
}

.editFinishButton {
  width: 7vw;
  height: 5vh; /*30px*/
  margin-left: 2vw;
  border-radius: 5px;
  font-size: 0.8em; /*12px*/
  font-weight: bold;
  background: #c00000;
  color: white;
  border: none;
  margin-top: 5vh;
}
.editFinishButton:hover {
  transition: ease 0.2s;
  transform: scale(1.02);
  background: #8f0202;
}
.m_editFinishButton {
  width: 20vw;
  height: 6vh; /*30px*/
  border-radius: 5px;
  font-size: 0.8em; /*12px*/
  font-weight: bold;
  background: #c00000;
  color: white;
  border: none;
  margin-top: 5vh;
}
.dropUser {
  font-size: 1em;
  cursor: pointer;
  margin-left: 3.4vw;
  margin-top: 6vh;
  font-weight: bold;
  text-decoration: underline;
}
.dropUser:hover {
  transition: ease 0.1s;
  transform: scale(1.01);
}
.m_dropUser {
  font-size: 0.8em;
  margin-left: 3.4vw;
  margin-top: 6vh;
  font-weight: bold;
  text-decoration: underline;
}
.m_editInput {
  width: 20vw; /*80%*/
  height: 5vh; /*30px*/
  border-radius: 5px;
  font-size: 0.8em; /*12px*/
  font-weight: bold;
  margin-bottom: 10px;
  border: 2px solid #c00000;
  margin-top: 10px;
}
.m_myInfoForm-control {
  margin: 5px auto;
  width: 50vw; /*80%*/
  height: 6vh; /*30px*/
  font-size: 0.8em; /*12px*/
  font-weight: bold;
  border-radius: 5px;
}
