.myReservationListForm {
  margin: 1%;
}
/*나의 예약 내역 조회*/
.myReservationListFormTitleTextStyle {
  font-size: 2em;
  color: #820101;
  font-weight: bold;
}
.m_myReservationListFormTitleTextStyle {
  font-size: 1.4em;
  color: #820101;
  font-weight: bold;
}
.seatReservationList,
.roomReservationList {
}
.u4seatTextStyle,
.u4roomTextStyle {
  font-size: 1.4em;
  font-weight: bold;
}
.myReservationListTable {
  /* position: relative; */
  font-size: 1.2em;
}
.reservationCancelBtn,
.checkOutBtn {
  width: fit-content;
  height: inherit;
  font-size: 1.2em;
  background-color: #820101;
  border-radius: 10px;
  color: ivory;
  border: 0;
  outline: 0;
}
.reservationCancelBtn:hover,
.checkOutBtn:hover {
  background: #8f0202;
  transition: ease 0.2s;
  transform: scale(1.01);
}
