.u_boardContainer {
  display: flex;
  height: 97%;
}
.mobileBoardContainer {
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
}
.u_boardCover {
  margin-left: 2%;
  margin-right: 2%;
  width: 100%;
  height: 100%;
  overflow: auto;
  border-radius: 3px;
}
.mobileBoardCover {
  width: 95%;
  height: 550px;
  margin-left: 2.5%;
  overflow: auto;
}
.u_boardItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
.u_boardSeatItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
.u_boardSeatItem:hover {
  cursor: pointer;
}
