.u_boardContainer {
  display: flex;
  height: 97%;
}
.mobileBoardContainer {
  display: flex;
  flex-direction: column;
}
.u_boardCover {
  margin-left: 1%;
  width: 70vw;
  height: 100%;
  overflow: auto;
  background-color: white;
  border-radius: 3px;
}
.mobileBoardCover {
  width: 95%;
  height: 500px;
  margin-left: 2.5%;
  overflow: auto;
}
.u_boardItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
.u_boardSeatItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
.u_boardSeatItem:hover {
  cursor: pointer;
}
