.reservationAndSearch {
  display: flex;
  flex-direction: column;
  height: 20%;
}
.m_reservationAndSearch {
  width: 100%;
}
/*datetime+예약버튼*/
.dateTimeAndBtnForm {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.m_dateTimeAndBtnForm {
  display: flex;
  flex-direction: row;
}
.dateTimeForm {
  background: #c4c4c4;
  width: 20vw;
  height: 100%;
  display: flex;
  margin-left: 1vw;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 1px 1px 7px 1px gray;
}
.m_dateTimeForm {
  display: flex;
}
/*좌석 이름*/
.seatNameTextStyle {
  font-weight: bold;
  font-size: 1.6em;
  text-align: center;
  margin-top: 4%;
}
.m_seatNameTextStyle {
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 4vh;
  margin-left: 3vw;
}
.seatReservationBtn {
  width: 8vw;
  height: 4vh;
  font-size: 1em;
  background-color: rgb(199, 43, 43);
  margin-top: 3vh;
  color: white;
  border: 0;
  border-radius: 8px;
}
.seatReservationBtn:hover {
  background-color: rgb(199, 43, 43);
  color: white;
  transition: ease 0.2s;
  transform: scale(1.01);
}
.m_seatReservationBtn {
  width: 20vw;
  height: 5vh;
  position: absolute;
  left: 150px;
  font-size: 1em;
  background-color: rgb(199, 43, 43);
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 4vh;
}
