.reservationAndSearch {
  display: flex;
  flex-direction: column;
}
.m_reservationAndSearch {
  width: 100%;
}
/*datetime+예약버튼*/
.dateTimeAndBtnForm {
  display: flex;
  flex-direction: column;
}
.dateTimeForm {
  background: #c4c4c4;
  width: 20vw;
  height: 25vh;
  display: flex;
  margin-left: 2vw;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 1px rgba(64, 64, 64, 0.4);
}
.m_dateTimeForm {
  background: #c4c4c4;
  width: 95%;
  height: 25vh;
  display: flex;
  margin-top: 2vh;
  margin-left: 2.5%;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 1px rgba(64, 64, 64, 0.4);
}
/*좌석 이름*/
.seatNameTextStyle {
  font-weight: bold;
  font-size: 1.6em;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
.reservationDatePicker {
  display: flex;
  margin-top: 2vh;
  justify-content: space-around;
}
/*시작/종료 글씨*/
.startTimeTextStyle {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  margin-top: 3px;
}
.customPicker2 {
  background-color: white;
  border: 0;
  font-size: 1.1em;
  font-weight: bold;
  width: fit-content;
  height: 4vh;
  border-radius: 8px;
  margin-left: 2vw;
}
.seatReservationBtn {
  width: 10vw;
  height: 5vh;
  font-size: 1.2em;
  background-color: #155924;
  color: white;
  border: 0;
  border-radius: 8px;
  margin-top: 4vh;
}
.seatReservationBtn:hover {
  background-color: #0f4119;
  transition: ease 0.2s;
  transform: scale(1.01);
}
.m_seatReservationBtn {
  width: 30vw;
  height: 5vh;
  font-size: 1em;
  background-color: #155924;
  color: white;
  border: 0;
  border-radius: 8px;
  margin-top: 4vh;
}
