/*전체 페이지*/
.userSeatPage {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
}
/*네비바 제외한 페이지*/
.userSeatForm {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
}
.m_userSeatForm {
  width: 100%;
  background-color: rgb(240, 240, 240);
}
/*헤더*/
.u_seatHeader {
  position: relative;
  height: 10%;
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.m_u_seatHeader {
  display: flex;
  position: relative;
  height: 10%;
  align-items: center;
}
/*헤더 글씨(층 이름)*/
.u_seatHeaderTextStyle {
  position: relative;
  font-weight: bold;
  font-size: 1.8em;
  margin-left: 2%;
  margin-right: 4%;
}
.m_u_seatHeaderTextStyle {
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 30%;
}
.userSeatReservationForm {
  display: flex;
  flex-direction: column;
}

.u_seatReservationButton {
  background: #155924;
  font-size: 1.7em;
  font-weight: bold;
  color: white;
  width: fit-content;
  height: 13%;
  align-self: center;
}
/*leftForm*/
.seatForm {
  width: 65vw;
  height: 88vh;
  display: flex;
  flex-direction: column;
}
/*시설, 예약가능, 사용중*/
.u_seatFormUpper {
  display: flex;
  flex-direction: row;
  height: 10%;
  /* justify-content: flex-end;
  align-items: flex-end; */
}
.u_selectFloor {
  display: flex;
  align-items: center;
}
.u_dropdownFloor {
  margin-left: 2vw;
}

.showFacilityButton {
  font-size: 1.4em;
  font-weight: bold;
  border: none;
  width: 6vw;
  height: max-content;

  margin-left: 1vw;
  border-radius: 100%;
}
.selectFloorTextStyle {
  margin-left: 0.5vw;
  margin-top: 1.5vh;
  font-weight: bold;
  color: #820101;
}
.statusForm {
  display: flex;
  align-items: center;
  margin-left: 37%;
}
.m_statusForm {
  display: flex;
  align-items: center;
}
/*아이콘*/
.facilityicon {
  width: 43px;
  height: 43px;
  margin-right: 1vw;
}
.m_facilityIcon {
  margin-top: 7px;
  margin-right: 10px;
  margin-left: 20px;
  width: 30px;
  height: 30px;
}
.facilityicon:hover {
  transition: ease-in 0.1s;
  transform: scale(1.03);
}

.reservedSeats,
.ableSeats {
  display: flex;
  margin-right: 2vw;
  align-items: center;
}
.reservedSeatShape {
  width: 2vw;
  height: 2vw;
  background-color: #646464;
}
.m_reservedSeatShape {
  width: 9vw;
  height: 4vh;
  background-color: #646464;
}
.ableSeatShape {
  width: 2vw;
  height: 2vw;
  background-color: #00a023;
}
.m_ableSeatShape {
  width: 9vw;
  height: 4vh;
  background-color: #00a023;
}
.reservedSeatsTextStyle,
.ableSeatsTextStyle {
  font-size: 1.4em;
  font-weight: bold;
  margin-left: 7px;
}
.m_reservedSeatsTextStyle,
.m_ableSeatsTextStyle {
  font-size: 1em;
  font-weight: bold;
  width: 100%;
}
.u_seatFormBottom {
  width: 63vw;
  height: 100vh;
  background-color: #820101;
  margin-left: 1vw;
}
