.u_userSearchForm {
  width: 20vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
}
.m_userSearchForm {
  width: 96%;
  height: 400px;
  margin-left: 2%;
  margin-right: 2%;
}
.userLocation {
  width: inherit;
}
.userLocationInfo {
}
.searchUserTextStyle {
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 1.5em;
  font-weight: bold;
  color: #494949;
}
.m_searchUserTextStyle {
  font-size: 1.1em;
  font-weight: bold;
  color: #494949;
  margin-bottom: 1vh;
}
.searchUserInfoText {
  font-size: 1.1em;
  font-weight: bold;
  color: #820101;
  margin-bottom: 1vh;
}
