.u_userSearchForm {
  width: 27vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
}
.userLocation {
  width: inherit;
}
.userLocationInfo {
  margin-top: 3vh;
}
.searchUserTextStyle {
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 1.5em;
  font-weight: bold;
  color: #494949;
}
