.nav-menu {
  position: fixed;

  z-index: 1;

  width: 200px;
  height: 100vh;

  top: 0;
  left: -100%;

  display: flex;
  flex-direction: column;

  transition: 0.8s all;

  background-color: rgb(173, 173, 173);
}
.nav-menu.active {
  z-index: 1;

  left: 0;

  display: flex;
  flex-direction: column;

  transition: all 0.5s ease;
}
.nav-menu-items {
  width: 100%;

  margin-top: 30px;

  padding-left: 15%;

  display: flex;
  flex-direction: column;
  justify-items: flex-end;
}

.closeBtn {
  margin-top: 10px;
  margin-left: 10px;
}
.iconText {
  display: initial;

  margin-left: 2vw;

  font-size: 1em;
  font-weight: bold;

  color: black;
}
.oneMenu {
  margin-bottom: 40px;
}
.mobileTimeBar {
  background-color: #820101;
}
